.app {
  width: 70%;
  color: #ff93ab;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head__title {
  font-weight: 500;
}

.reminders__container {
  min-width: 50px;
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 0px #edcdff;
  background-color: #d797fc;
}

button {
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: whitesmoke;
  padding: 6px 45px;
  border: 4px dashed #ff93ab;
  border-radius: 3px;
  background-color: #fd799a;
  transition: 300ms;
}

button:hover {
  opacity: 0.87;
}
